/* Google fonts import */

  @import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Lato:ital,wght@0,300;01,300;&family=Oswald:wght@200..700&display=swap');

  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }



/* Asterisk wildcard selector to override styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: "Lato";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles */
    color:#3a3a3a;

}

/* Header */
header {
    background-color: lightcoral;
}

/* Main */
main {
    background-color: lightblue;
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}